@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "tailwindcss-primeui";

html {
    font-family: Inter var, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

@custom-variant dark (&:where(.dark, .dark *));

/* Variables de color que cambian automáticamente */
:root {
    --bg-primary: white;
    --bg-secondary: #f3f4f6;
    --bg-card: white;
    --text-primary: #111827;
    --text-secondary: #6b7280;
    --border-color: #e5e7eb;
    --bg-transparent: #f3f4f6
}

.dark {
    --bg-primary: #111827;
    --bg-secondary: #1f2937;
    --bg-card: #1f2937;
    --text-primary: white;
    --text-secondary: #9ca3af;
    --border-color: #374151;
    --bg-transparent: #2b394d;
}

.bg-transparent {
    background-color: var(--bg-transparent);
}

/* Clases utilitarias personalizadas */
.bg-primary {
    background-color: var(--bg-primary);
}

.bg-secondary {
    background-color: var(--bg-secondary);
}

.bg-card {
    background-color: var(--bg-card);
}

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.border-primary {
    border-color: var(--border-color);
}